@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* normalizer and root */
*{
    font-family: "Bangers", system-ui;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color: #E82A00;
    --text-color: #ffffff;
    --bg-color-2: #3F71EA;
    --bg-color-3: #33383b;
    --bg-color-4: #000000;
}

/*header*/
.body{
    background-color:#339EC7 ;
}

/*Header*/
.bodyNosotros{
    background-color: var(--bg-color-4);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 10;
    font-family: 'Oswald', 'Arial Narrow', Arial, sans-serif;
}
header .azul{
    color: #339EC7;
}
header .rojo{
    color: var(--main-color);
}
header.abajo{
    background:var(--text-color);
    padding: 15px 20px;
    
}
header .logo{
    position: relative;
    font-weight: bold;
    font-size: 4em;
    letter-spacing: 2px;
    transition: 1.5s;
    text-decoration: none;
}
.logo{
    position: relative;
    color: var(--text-color);
    font-weight: bold;
    font-size: 12em;
    letter-spacing: 2px;
    transition: 1.5s;
    text-decoration: none;
}
.nosotrosHeader .logo{
    color: var(--bg-color-4);
}
.menu-icon {
    position: relative; 
    z-index: 100; 
    color: #fff; 
    font-size: 1.5em;
    cursor: pointer;
    display: none; 
}
.menu-icon i {
    pointer-events: none;
}

nav i{
    display: none;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
header ul li{
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
    color: var(--text-color);
}
a:hover{
    color: var(--main-color);
    transition: none;
}
header.abajo ul li a{
    color: var(--bg-color-4);
}
header.abajo .blanco{
    color: var(--bg-color-4);
}
.header-2{
    background:var(--text-color);
    padding: 15px 20px;
}
.header-2 ul li a{
    color: var(--bg-color-4);
}
/* main y video */
main{
    width: 100%;
    position: static;
    overflow: hidden;
    top: 0;
}
.videoIndex, .carroComic{
    width: 100%;
    height: 100vh;
    position: static;
    overflow: hidden;
    top: 0;
}
video{
    width: 100%;
}
.contenido{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
video{
    width: 100%;
}
.capa-negrap{
    color: var(--text-color);
    padding: 20px;
    font-size: 5em;
}

/* Cómics recomendados */
.texto-introductorio {
    font-size: 2em;
    margin-top: 50px;
    margin-right: 80px;
    margin-left: 80px;
}
.texto-introductorio2 {
    font-size: 2em;
    margin-top: 50px;
    margin-right: 80px;
    margin-left: 80px;
    padding-top: 50px;
}
.recomendados {
    margin-top: 50px;
    width: 100%;
}
.recomendados h2 {
    padding-left: 72px;
    font-size: 3em;
    margin-top: 50px;
}
.comicsConteinerMarvel, .comicsConteinerDC {
    margin-top: 50px;
}

/* Novedades pic */
.leyendoComic {
    width: 100%;
}
.imgComic {
    height: 100vh;
    width: 100%;
}
.leyendaViviente img, .thorHulk img, .punisher img, .vision img,
.batman img, .flash img, .watchmen img, .superman img {
    position: relative;
    overflow: hidden;
    width: 100%;
}

/* Custom adjustments for card margins */
.card {
    margin: 20px auto;
    padding: 10px;
    box-sizing: border-box;
}

/* Adjust card size */
.card img {
    max-height: 600px;
    object-fit: cover;
}

/* Add space between cards horizontally */
.comicsConteinerMarvel .card,
.comicsConteinerDC .card
,.comicsConteinerNovedades .card {
    width: 21%;
}


/*novedades comics: Cómics nuevos,Mangas nuevosHistorieta, argentina nuevos*/
.novedades-comic{
    margin-top: 50px;
    width: 100%;
}
.novedades-comic h2{
    padding-left: 72px;
    font-size: 3em;
    margin-bottom: 50px;
    margin-top: 50px;
}
.sandman{
    margin: 20px auto;
    width: 20%;
}
.sandman img{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.comicsConteinerNovedades{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nightwing, .superman-novedades, .green-lantern, .flash-batman, .akira-1, .akira-2, .akira-3, .akira-4, .paturuzu-1, .paturuzu-2, .paturuzu-3, .isidoro{
    margin: 20px auto;
    width: 20%;
}
.nightwing img, .superman-novedades img, .green-lantern img, .flash-batman img, .akira-1 img, .akira-2 img, 
.akira-3 img, .akira-4 img, .paturuzu-1 img, .paturuzu-2 img, .paturuzu-3 img, .isidoro img{
    position: relative;
    overflow: hidden;
    width: 100%;
}

/*Trailers*/
.trailer{
    margin-top: 50px;
    width: 100%;
}
.trailer h2{
    padding-left: 72px;
    font-size: 3em;
    margin-bottom: 50px;
}
.trailer-border{
    padding: 10px;
    border-radius: 50px;
    margin-left: 310px;
    margin-right: 310px;
}
.trailerUno{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.trailer-1, .trailer-2, .trailer-3, .trailer-4, .trailer-5, .trailer-6, .trailer-7, .trailer-8{
    padding: 10px;
    border-radius: 50px;
}
.trailerDos{
    display: flex;
    align-items: center;
    justify-content: center;
}


/*encontranos*/
.encontranos{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.mapa{
    width: 80%;
}
.capa-negra {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.capa-negra p{
    color: var(--text-color);
    padding: 20px;
    font-size: 5em;
}

/* formulario */
.formulario h2{
    padding-left: 72px;
    font-size: 3em;
    margin-top: 50px;
    color: var(--text-color);
}
.contact{
    height: 80%;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #31262675;
    color: var(--text-color);
    background-image: url('../img/estrellas.jpg');
    background-size: cover;
    background-position: center;
}
.contact__image-wrapper{
    height: 100%;
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact__image{
    width: 100%;
    height: 100%;
}
.contact__right-side{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 1% 7.3% 1% 4.7%;
    width: 50%;
    font-size: 60px;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    color: #339EC7;
    font-style: normal;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.contact__right-side{
    font-size: 60px;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    color: #339EC7;
    font-style: normal;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.contact__form-wrapper, .contact__input-line{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}
.contact__input-line{
    margin-bottom: 45px;
}
.contact__label{
    font-size: 30px;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    color: var(--main-color);
    font-style: normal;
}
.contact__input{
    height: 30px;
    outline: none;
    padding: 5px 0;
    border-bottom: 2px solid var(--text-color);
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    color: var(--text-color);
    font-family: "Bangers", system-ui;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    background-color: transparent;
}
.contact__input--textarea{
    height: 100px;
    outline: none;
    padding: 5px 0;
    border-bottom: 2px solid var(--text-color);
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    color: var(--text-color);
    font-size: 30px;
    resize: none;
    background-color: transparent;
}

/* button */
button {
    display: flex;
    justify-content: center;
    background-color: #31262600;
    border: none;
    padding-bottom: 10px;
}
    .cta {
        display: flex;
        padding: 10px 20px;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        color: var(--text-color);
        align-items: center;
        background: #262626;
        transition: 1s;
        gap: 1vw;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        transform: skewX(-15deg);
    }
    .cta:focus {
        outline: none; 
    }
    .cta:hover {
        transition: 0.5s;
        box-shadow: 10px 10px 0 var(--text-color);

    }
    .cta span:nth-child(2) {
        transition: 0.5s;
        margin-right: 0px;
        
    }
    .cta:hover  span:nth-child(2) {
        transition: 0.5s;
        margin-right: 45px;
    }
    span {
    transform: skewX(15deg);
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    }
    span:nth-child(2) {
    width: 20px;
    top: 12%;
    }


    /**SVG**/
    path.one {
        transition: 0.4s;
        transform: translateX(-60%);
    }
    path.two {
        transition: 0.5s;
        transform: translateX(-30%);
    }
    .cta:hover path.three {
        animation: color_anim 1s infinite 0.2s;
    }
    .cta:hover path.one {
        transform: translateX(0%);
        animation: color_anim 1s infinite 0.6s;
    }
    .cta:hover path.two {
        transform: translateX(0%);
        animation: color_anim 1s infinite 0.4s;
    }

    /* SVG animations */ 
    @keyframes color_anim {
        0% {
            fill: red;
        }
        50% {
            fill: red;
        }
        100% {
            fill: white;
        }
    }


/* footer */
footer {
    bottom: 0;
    border-top: 2px solid var(--text-color);
}
.footer-distributed {
    background-color: var(--bg-color-4);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}
.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left {
    width: 30%;
}
.footer-distributed h3 {
    color: #339EC7;
    font-size: 4em;
    margin: 0;
}
.footer-distributed h3 span {
    color: var(--main-color);
}

/* Footer links */
.footer-distributed .footer-links {
    color: var(--text-color);
    margin: 20px 0 12px;
}
.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    font-size: 24px;
}
.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center {
    width: 35%;
}
.footer-distributed .footer-center i {
    background-color: var(--bg-color-3);
    color: var(--text-color);
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}
.footer-distributed .footer-center p {
    display: inline-block;
    color: var(--text-color);
    vertical-align: middle;
    margin: 0;
}
.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 24px;
    line-height: 2;
}
.footer-distributed .footer-center p a {
    color: var(--text-color);
    text-decoration: none;
}

/* Footer Right */
.footer-distributed .footer-right {
    width: 30%;
}
.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-company-about span {
    display: block;
    color: var(--text-color);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 24px;
}
.footer-distributed .footer-icons {
    margin-top: 25px;
}
.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: var(--bg-color-3);
    border-radius: 2px;
    font-size: 20px;
    color: var(--text-color);
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
.footer-distributed .footer-icons a:hover {
    background-color: var(--bg-color-2);
}
.footer-links a:hover {
    color: var(--bg-color-2);
}

/* mediaqueries footer */
@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       
@media (max-width: 1200px) {
    /* header */
    header{
        background:var(--text-color);
        padding: 15px 20px;  
    }
    header ul li a{
        color: var(--bg-color-4);
    }
    header .blanco{
        color: var(--bg-color-4);
    }
    .carousel, .slide{
        margin-top: 200px;
    }
    .comicsConteinerMarvel .card,
    .comicsConteinerDC .card,
    .comicsConteinerNovedades .card {
        width: 45%; 
        margin: 10px auto;
    }
    .contenido{
        position: absolute;
        top: 0;
        left: 0;
        height: 65%;
        width: 100%;
    }
    .videoIndex video {
        display: none;
    }
    .videoIndex{
        height: 65vh;
    }
    .capa-negrap {
        font-size: 2em;
        text-align: center;
    }
    /* formulario */
    .contact__image-wrapper {
        display: none;
            }   
    .contact__right-side {
        width: 70%;
    }
    .trailer{
        margin: 0 auto;
    }
    .trailer-border{
        margin: 0 auto;
    }
    .trailerUno, .trailerDos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .trailer-1, .trailer-2, .trailer-3, .trailer-4, .trailer-5, .trailer-6, .trailer-7, .trailer-8 {
        width: 40%;
        margin-bottom: 20px;
    }
    
    
}

@media (max-width: 750px) {
    /* index.html */
    /* header */
    header{
        background:var(--text-color);
        padding: 15px 20px;
        
    }
    header ul li a{
        color: var(--bg-color-4);
    }
    header .blanco{
        color: var(--bg-color-4);
    }
    /* cards */
    .comicsConteinerMarvel .card,
    .comicsConteinerDC .card,
    .comicsConteinerNovedades .card {
        width: 45%;
        margin: 10px auto;
    }
    .texto-introductorio {
        margin: 0 20px;
    }
    /* menu icon */
    .menu-icon {
        display: block;
        cursor: pointer;
        color: var(--bg-color-4);
        margin-top: 15px;
        margin-right: -40px;
    }
    
    .menu-icon i {
        margin: 0 auto;
        font-size: 1.5em;
        cursor: pointer;
    }
    /* nav */
    nav{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        top: 0;
        right: 0;
        background-color: var(--text-color);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }
    nav.visible{
        opacity: 1;
        visibility: visible;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    nav i{
        display: block;
        color: var(--bg-color-4);      
    } 
    .contenido{
        position: absolute;
        top: 0;
        left: 0;
        height: 60%;
        width: 100%;
    }
    .videoIndex{
        height: 65vh;
    }
    .titulo-comics{
        margin: left;
    }
    /* videos */
    .trailer-border {
        margin-left: 20px;
        margin-right: 20px;
    }

    .trailerUno, .trailerDos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .trailer-1, .trailer-2, .trailer-3, .trailer-4, .trailer-5, .trailer-6, .trailer-7, .trailer-8 {
        width: 90%;
        max-width: 400px; /* Ajuste para mantener una buena apariencia en pantallas más grandes */
        margin-bottom: 20px;
    }
    /* Mostrar el menú cuando el checkbox esté marcado */
    #menu-toggle:checked + .menu-icon i {
        color: var(--main-color); 
    }
    #menu-toggle:checked + nav ul {
        display: flex;
        transform: translateY(0);
    }
    /* novedades.html */
    .imgContainer{
        display: none;
    }
    .texto-introductorio2 {
        margin-top: 200px;
    }
    /* figuras html */
    .carousel, .slide{
        margin-top: 100px;
    }
    /* formulario */
    .contact {
        flex-direction: column;
    }
    .contact__image-wrapper {
        display: none;
        }
    .contact__right-side {
        width: 100%;
    }
    .contact__right-side h1{
        display: none;
    }   
}

@media (max-width: 460px) {
    .comicsConteinerMarvel .card,
    .comicsConteinerDC .card,
    .comicsConteinerNovedades .card  {
        width: 90%;
        margin: 10px auto; 
    }
    /* formulario */
    .contact {
        flex-direction: column;
    }
    .contact__image-wrapper {
        display: none;
        }
    .contact__right-side {
        width: 100%;
    }
    .contact__right-side h1{
        display: none;
    }
}